<h1>事業一覧</h1>
<%= link_to '新規登録', new_product_path, class: 'btn btn-info' %>
<%= link_to '管理者一覧', admin_users_path, class: 'btn btn-success' %>
<%= link_to 'メンバー一覧', members_path, class: 'btn btn-warning' %>

<div class='row'>
    <% @products.each do |product| %>
        <%= link_to product_path(id: product.id) do %>
        <div class='col-md-4 mt-5'>
            <div class='card' style='width: 18rem;'>
                <%= image_tag 'no_image.png', class: 'card-img-top', size: '300x300' %>
                <div class="card-body webkit-center">
                    <h4><%= product.name %></h4>
                    <p class="card-text"><%= product.description %></p>
                    <%= link_to '編集', edit_product_path(id: product.id), class: 'btn btn-outline-success' %>
                    <%= link_to '削除', product, method: :delete, data: { confirm: "「#{product.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
                </div>
            </div>
        </div>
        <% end %>
    <% end %>
</div>
