<%= link_to 'TOPもどる', root_path, class: 'btn btn-primary' %>
<h1><%= @product.name %></h1>
<% if @product.images.attached? %>
  <% @product.images.each do |image| %>
    <%= image_tag @product.image, class: 'card-img-top', size: '300x300' %>
  <% end %>
<% else %>
  <%= image_tag 'no_image.png', class: 'card-img-top', size: '300x300' %>
<% end %>
<p><%= @product.description %></p>
<%= link_to '編集', edit_product_path(id: @product.id), class: 'btn btn-outline-success' %>
<%= link_to '削除', @product, method: :delete, data: { confirm: "「#{@product.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
